---
import { services } from '../utils/services.js';
---
<section id="services" class="py-16 bg-gray-50">
    <div class="mx-auto max-w-7xl px-3">
        <h2 class="text-xl font-semibold mb-3 text-center text-indigo-900">Servicios</h2>
        <p class="text-center text-xl text-md font-bold font-sans max-w-80 mx-auto text-custom-blueobscure">  Innovación, confianza y resultados visibles. Conocelos todos! </p>
        
        <div class="grid grid-cols-1 p-4 md:grid-cols-1 lg:w-10/12 mx-auto lg:grid-cols-2 md:py-5 gap-y-10 gap-x-24">
          {services.map((service) => (
            <div class="relative bg-white rounded-lg shadow-md overflow-hidden transition-all duration-300 hover:shadow-lg hover:bg-slate-200 flex flex-col justify-between">
              <div class="relative group">
                <img src={service.imageList} alt={service.name} class="w-full h-40  brightness-75 object-cover transition-transform duration-500 ease-in 
                group-hover:brightness-105
                group-hover:saturate-100" />
                <div class="absolute inset-0 flex items-center justify-center bg-gray-900 bg-opacity-50 transition-transform duration-500 ease-in group-hover:scale-105">
                  <h3 class="text-white max-w-44 text-xl font-bold px-4 py-2 transition-transform duration-500 ease-in group-hover:scale-105">{service.name}</h3>
                </div>
              </div>
              <div class="p-3 mt-2 mb-3 h-full flex flex-col">
                
                  
                    <i class={`icon-${service.icon}`}></i>
                  
                  
                
                <p class="font-semibold mt-5 p-2 font-sans text-gray-500 text-xs max-w-64 text-left mb-2">{service.description}</p>
                
                </div>
                <div class="flex-grow"></div> <!-- Espacio flexible para empujar el botón hacia abajo -->
            <div class="w-full mt-auto">
              <button class="bg-aqua-strong text-gray-800 py-3  text-sm font-semibold rounded rounded-t-none  w-full hover:bg-blue-400 transition-all ver-mas-btn" data-id={service.id}>
                Ver Tratamiento
              </button>
              </div>
            </div>
          ))}
        </div>
    
  
      <div id="service-details" class="bg-indigo-100 p-8 rounded-lg shadow-sm hidden text-center max-w-4xl mx-auto">
        <h2 id="service-title" class="text-3xl font-extrabold mb-4 text-indigo-800"></h2>
        <p id="service-description" class="mb-6 text-gray-600"></p>
        <h3 class="text-xl font-semibold mb-4 text-gray-800">Preguntas frecuentes</h3>
        <ul id="service-faqs" class="space-y-4"></ul>
      </div>
    </div>
  </section>
  
  <script>
    import { services } from '../utils/services.js';
  
    document.addEventListener('DOMContentLoaded', () => {
      const verMasBtns = document.querySelectorAll('.ver-mas-btn');
      const serviceDetails = document.getElementById('service-details');
      const serviceTitle = document.getElementById('service-title');
      const serviceDescription = document.getElementById('service-description');
      const serviceFaqs = document.getElementById('service-faqs');
  
      verMasBtns.forEach(button => {
        button.addEventListener('click', (e) => {
          const target = e.currentTarget as HTMLElement;
          const serviceId = target.getAttribute('data-id');
          const service = services.find(s => s.id === serviceId);
          
          if (service) {
            serviceTitle.textContent = service.name;
            serviceDescription.textContent = service.fullDescription;
            serviceFaqs.innerHTML = service.faqs.map(faq => `
              <li class="bg-gray-200 p-4 text-center rounded-lg faq-item transition-all duration-300 hover:bg-gray-300 cursor-pointer">
                <div class="flex justify-between items-center faq-question">
                  <h4 class="font-semibold text-gray-800">${faq.question}</h4>
                  <span class="text-blue-800 font-bold transition-transform duration-300 transform">+</span>
                </div>
                <p class="text-gray-600 faq-answer hidden mt-2">${faq.answer}</p>
              </li>
            `).join('');
  
            serviceDetails.classList.remove('hidden');
            serviceDetails.scrollIntoView({ behavior: 'smooth', block: 'start' });
  
            // Comportamiento del acordeón
            const faqItems = document.querySelectorAll('.faq-item');
            faqItems.forEach(item => {
              const question = item.querySelector('.faq-question');
              const answer = item.querySelector('.faq-answer');
              const toggleIcon = question.querySelector('span');
  
              question.addEventListener('click', () => {
                answer.classList.toggle('hidden');
                toggleIcon.textContent = answer.classList.contains('hidden') ? '+' : '-';
                toggleIcon.classList.toggle('rotate-180');
                item.classList.toggle('faq-expanded');
              });
            });
          }
        });
      });
    });
  </script>
  
  <style>
    .faq-item:hover {
      background-color: #f0f4f8; /* Cambio de color de fondo en hover */
    }
  
    .faq-item .faq-question span {
      transition: transform 0.3s ease-in-out; /* Transición suave para el ícono */
    }
  
    .faq-expanded .faq-question span {
      transform: rotate(180deg); /* Rotación del ícono cuando se expande */
    }
  
    .ver-mas-btn:hover {
      background-color: #2563eb; /* Hover en el botón */
    }


    
  </style>
  