---

const testimonials = [
 
  {
    name: "Lu Rodriguez",
    content: "Recomiendo mucho la clínica, todas las chicas súper atentas y te hacen sentir segura en todos los procedimientos! Mantienen profesionalismo e higiene en todo momento",
    image: "../../img/assets/testimonio7.webp"
  },
  {
    name: "Miriam ",
    content: "Recomiendo los servicios de la clínica, me he realizado hidrofaciales y estoy muy contenta con los resultados",
    image: "../../img/assets/testimonio2.webp"
  },
  {
    name: "Caro ",
    content: "Súper contenta con mi procedimiento y todo el trato excelente.",
    image: "../../img/assets/testimonio3.webp"
  },
  {
    name: "Itayetzi ",
    content: "El lugar es muy ameno y limpio, la atención muy buena te explican todo",
    image: "../../img/assets/testimonio4.webp"
  },
  {
    name: "Kira ",
    content: "La atención fue súper profesional, respondieron todas mis dudas sobre los procedimientos, excelente la atención de todo el equipo!",
    image: "../../img/assets/testimonio5.webp"
  },
  {
    name: "Leslie Talia",
    content: "Excelente servicio y atención, cuidan cada detalle de principio a fin 100% recomendable!",
    image: "../../img/assets/testimonio6.webp"
  },
  {
    name: "Azul G ",
    content: "Excelente servicio, voy fascinada",
    image: "../../img/assets/testimonio1.webp"
  },
];

const facebookReviewsUrl = "https://www.facebook.com/drajessicaalcala/reviews";
---

<div class="bg-gray-100 py-10 px-4 sm:px-6 lg:px-8">
  <div class="max-w-3xl mx-auto"> <!-- Cambié a max-w-6xl para reducir el tamaño -->
    <h2 class="text-3xl font-neoteric text-nude-text text-center mb-12">Reseñas</h2>
    <div class="testimonial-carousel relative">
      <div class="overflow-hidden">
        <div class="flex transition-transform duration-300 ease-in-out" id="testimonialSlider">
          {testimonials.map((testimonial, index) => (
            <div class="w-full flex-shrink-0 px-2 sm:w-full md:w-1/2 lg:w-1/3 xl:w-1/4">
              <div class="bg-white rounded-lg shadow-lg p-6 h-full flex flex-col">
                <div class="flex items-center mb-2">
                  <img src={testimonial.image} alt={testimonial.name} class="w-6 h-6 rounded-full mr-4" />
                  <div>
                    <h3 class="font-semibold text-md font-roboto">{testimonial.name}</h3>
                  </div>
                </div>
                <p class="text-gray-800 flex-grow text-xs font-poppins font-thin ">{testimonial.content}</p>
                <a href={facebookReviewsUrl} target="_blank" rel="noopener noreferrer" class="mt-4 inline-flex items-center text-xs text-blue-800 hover:text-blue-900">
                  <svg class="w-5 h-5 mr-2" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M24 12.073c0-6.627-5.373-12-12-12s-12 5.373-12 12c0 5.99 4.388 10.954 10.125 11.854v-8.385H7.078v-3.47h3.047V9.43c0-3.007 1.792-4.669 4.533-4.669 1.312 0 2.686.235 2.686.235v2.953H15.83c-1.491 0-1.956.925-1.956 1.874v2.25h3.328l-.532 3.47h-2.796v8.385C19.612 23.027 24 18.062 24 12.073z"/>
                  </svg>
                  Ver en Facebook
                </a>
              </div>
            </div>
          ))}
        </div>
      </div>
      <button class="absolute top-1/2 left-4 transform -translate-y-1/2 bg-white p-2 rounded-full shadow-md" id="prevBtn">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-2 h-2">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
        </svg>
      </button>
      <button class="absolute top-1/2 right-4 transform -translate-y-1/2 bg-white p-2 rounded-full shadow-md" id="nextBtn">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-2 h-2">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
        </svg>
      </button>
    </div>
  </div>
</div>

<script>
  const slider = document.getElementById('testimonialSlider');
  const prevBtn = document.getElementById('prevBtn');
  const nextBtn = document.getElementById('nextBtn');
  let currentIndex = 0;
  const testimonialCount = 12; // Número total de testimonios

  function getTestimonialsToShow() {
    if (window.innerWidth >= 1280) return 4; // xl
    if (window.innerWidth >= 1024) return 3; // lg
    if (window.innerWidth >= 768) return 2; // md
    return 1; // sm and below
  }

  function updateSlider() {
    const testimonialsToShow = getTestimonialsToShow();
    const offset = (currentIndex * -100) / testimonialsToShow;
    slider.style.transform = `translateX(${offset}%)`;
  }

  function moveSlider(direction) {
    const testimonialsToShow = getTestimonialsToShow();
    currentIndex = (currentIndex + direction + Math.ceil(testimonialCount / testimonialsToShow)) % Math.ceil(testimonialCount / testimonialsToShow);
    updateSlider();
  }

  prevBtn.addEventListener('click', () => moveSlider(-1));
  nextBtn.addEventListener('click', () => moveSlider(1));

  // Update slider on window resize
  window.addEventListener('resize', updateSlider);

  // Initial update
  updateSlider();

  // Optional: Auto-slide
  setInterval(() => moveSlider(1), 5000);
</script>
