---
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';

const { title, description = "Clínica de Medicina estética en Cuernavaca, Morelos." } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title ? `${title} | Clínica Estética Cuernavaca` : 'Clínica Estética Cuernavaca'}</title>
    <meta name="description" content={description}>
    
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={Astro.url} />

    <link rel="canonical" href={Astro.url} />
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;700&family=Poppins:wght@400;700&family=Cinzel:wght@400;700&family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
  </head>
  <body>
    <Navbar />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style is:global>
  @font-face {
    font-family: 'Collection';
    src: url('/src/fonts/Collection.otf') format('opentype');
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Neoteric';
    src: url('/src/fonts/NeotericRegular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Neoteric';
    src: url('/src/fonts/NeotericBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
</style>